/* Reset some default styles */
body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
}

  /* Set background and text colors */
body {
    background-color: #f7f7f7;
    color: #333;
    font-family: Arial, sans-serif;
}

  /* Header styles */
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

  /* Navigation styles */
nav {
    background-color: #eee;
    padding: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

  /* Footer styles */
footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

/* Social media links styles */
#social-media {
    margin-top: 10px;
}

#social-media a {
    margin: 0.25%;
    color: #fff;
}

#social-media .social-icon {
    display: inline-block;
    width: 16px; /* Adjust the width as needed */
    height: 16px; /* Adjust the height as needed */
    margin-right: 5px; /* Add some spacing between the icon and text */
    vertical-align: middle; /* Align the icon vertically with the text */
}

  /* Menu styles */
#menu {
    list-style: none;
    margin: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.card p {
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Maps styles */
#maps-container {
    /*color: #fff; /* Set the text color to white */
    background-color: #333;
    padding: 20px;
}

#maps-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

#maps-container ul {
    list-style: none; /* Remove the bullet points */
    padding-left: 0; /* Remove the default left padding */
    color: #fff;
}

#maps-container a {
    color: #fff;
    margin: 0.25%; /* Adds a 0.25% margin */
}

/* Take out styles */

#take-out-container a {
    color: #fff;
    margin: 0.25%; /* Adds a 0.25% margin */
}